{% extends "base.html" %}
{% import 'boostrap/wtf.html' as wtf %}

{% block content %}

<section class="profile">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="">
          <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <div class="col-md-4">
        <div class="profile-pic">
          {%  if user.profile_pic_path  %}
          <img class="pp-img" src="{{user.profile_pic_path}}" alt="">
          {% else %}
          <img class="pp-img" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Favatar-black-woman-icon-cartoon-style-vector-8875639&psig=AOvVaw3stGjlcMf35crw3KBQ4otk&ust=1652852354699000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJCrrYHp5fcCFQAAAAAdAAAAABAD" alt="female avatar">
          {%endif%}
          <div class="card-body text-center">
            <h5 class="card-text">
              {% if current_user.name==None %}
              <span>No Username</span>
              {% else %}
              {{ current_user.name }}
              {% endif %}
            </h5>
            <p>{{ current_user.name }}</p>
            <p>{% if current_user.bio %}</p>
            <span>{{ current_user.bio }}</span>
            {% else %}
            <span>No User-Bio</span>
            {% endif %}
            <small><span class="badge rounded-pill bg-primary text-white">{{ current_user.created_at.strftime('%d %b %Y') }}</span></small>
          </div>
        </div>
        <div class="row mb-2 mt-2">
          <div class="col md 12">
            <div class="card">
              {% if user == current_user  %}
              <form action="{{url_for('main.update_pic',username=user.username)}}" method="post"
              enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  <input name="photo" class="form-control" required type="file">
                </div>
                <div class="col-md-12">
                  <input type="file" class="btn btn-lg btn-sm" value="update profile picture">
                </div>
              </div>
            </form>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="form-update-profile">
                <div class="row">
                  {{wtf.quick_form(form)}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <!-- blogposts for current user -->
              <div>
                <h5>My Blog Posts</h5>
              </div>
              <div>
                <button type="button" class="btn btn-sm" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="fa fa-plus">Add a BlogPost</i></button>
                {% include 'modals/add_post.html' %}
              </div>
            </div>
          </div>
          <div class="card-body">
            {% include 'includes/posts.html' %}
          </div>
        </div>
      </div>
      <!-- comments for the blogpost -->
      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="card-title">Comments</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            {% include 'includes/comments.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}