/* font-family: 'Fredoka One', cursive; */

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Fredoka One', cursive;
}


/* navbar */
/* .header{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-image: url("../img/bck1.jpg");
  background-size: cover;
  position: relative;
}

.headings {
  font-family: "Merienda", cursive;
}

.nav-logo {
  border: 3px solid white;
  border-radius: 5%;
  color: white;
  text-decoration-line: none; 
  font-size: 20px;
}

.nav-link{
  font-size: 17px;
  color: white !important;
  justify-content: space-between;
}

.nav-link:hover{
  background: #f44336;
  border-radius: 3px;
}

.nav-links ul li a {
  font-size: 13px;
  color: white;
  text-decoration: none;
  font-size: 13px;
} */

/* navbar */
.navbar-brand {
  color: white;
  font-family: 'Fredoka One', cursive;
  /* text-transform: uppercase; */
  font-size: 26px;
}
/* .nav-link:hover{
  color: var(--main-color);
} */
/* .navbar-brand:hover {
  color: rgb(255, 255, 255);
} */
.navbar-expand-lg {
  background: #80f;
}

.navbar-expand-lg li a {
  color: white;
}

.navbar-toggler {
  background-color: white;
}
.nav-right {
  margin-right: 50px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
}

.nav-link {
  margin-right: 5px;
}

.text-underline {
    text-decoration: underline;
  }
  
  .btn-default {
    margin-top: 8px;
  }
  
  /* a,
  a:hover,
  a:focus {
    text-decoration: none;
    color: black;
  } */
  
  .fa {
    color: #80f;
    font-size: 15px;
  }
  
  /* .fade-item {
    font-weight: 400;
    color: rgb(63, 63, 63);
    text-transform: uppercase;
  } */
  
  
  .b-r {
    text-transform: uppercase;
    border-radius: 20px;
    padding: 7px;
  }
  .bg-lightdark {
    background-color: #dbdbdb;
  }


/* homepage */
.homepage {
  background-image: url("../img/bck5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage-content {
  margin: 170px 0px 170px 0px;
}

.homepage-content h3 {
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
.home {
  background-color: rgba(39, 39, 39, 0.3);
  color: white;
}

.card {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
  margin-bottom: 1px;
  padding: 1px 1px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

.card:hover {
  box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
  background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
}

.card h5 {
  font-size: 18px;
  line-height: 26px;
}

.post-card img {
  border-radius: 5px 5px 0 0;
  height: 200px;
  width: 100%;
}


/* login page */
.container-header {
  text-align: center;
  padding: 25px;
  background-color: #f0f0f0;
}

.login-card {
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}

.login-container {
  background-color: white;
}

.login-container label {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.login-container .checkbox {
  margin-top: 10px;
}

.login-container p {
  margin-top: 10px;
  font-size: 13px;
}

.login-container .form-group {
  margin-top: 10px;
}

.form-group .help-block {
  color: red;
}

.text-dark {
  color: #80f;
}

/* profile page */
.profile .card-img-top {
  border-radius: 50%;
  display: block;
  float: none;
  height: 180px;
  line-height: 32px;
  margin: 0 auto;
  width: 180px;
  margin-top: 6px;
}

.posts .img-fluid {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* single post */
.single-top-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.single-content {
  padding: 2rem;
  margin-top: 100px;
  margin-bottom: 40px;
}
.single-top-header .header {
  background-color: rgba(0, 0, 0, 0.8);
}

.author-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.blog-container {
  font-weight: 300;
  line-height: 30px;
  font-size: 18px;
  /* color: #757575; */
}

/* side post */
.side-post-image {
  height: 70px;
  width: 100px;
  border-radius: 5px;
}

.tops span {
  font-size: 13px;
}


/* comments */
.comments-container {
  background-color: #fafbfb;
  padding: 20px;
}

.comment-author-img {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
}

.comment-p {
  font-size: 0.82031rem;
  font-weight: 300;
}
.comment-author {
  font-weight: 500;
  text-transform: capitalize;
}

.comment-author span {
  font-size: 14px;
  font-weight: 300;
}
