
<!-- displaying blogposts -->

{% macro displayPosts(posts_list) %}
{% for post in posts_list %}
<div class="col-md-6">
    <div class="card mb-4 post-card">
        {% if post.image_path %}
        <img src="{{ post.image_path }}" class="card-img-top" alt="{{ post.category.name }}">
        {% else %}
        <img class="card-img-top" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffindicons.com%2Fsearch%2Fno-image-available&psig=AOvVaw0G2YL4aTiE_FUMnvt5Z1yu&ust=1652890788245000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMiZsJT45vcCFQAAAAAdAAAAABAD" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body text-center">
            <a href="{{ url_for('main.single_post',id=post.id)}}">
                <h6 class="fade-item">{{ post.category.name }}</h6>
                <h5 class="">{{ post.title }}</h5>
                <small>
                    <div class="d-flex justify-content-around">
                        <div>
                            <p>
                                <i class="fa fa-user"></i> {{ post.user.username }}
                            </p>
                        </div>
                        <div>
                            <p>
                                <i class="fa fa-clock"></i> {{ post.created_at.strftime('%d %b %Y') }}
                            </p>
                        </div>
                    </div>
                </small>
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% endmacro %}