<!--nav-section-->
<section class="header">
  <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent fs-14">
    <a class="nav-logo" href="/"><strong>EARTHLINGS</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.filter_posts',id=1) }}" id="navbarDropdownMenuLink">
            ABOUT
          </a>
        </li>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.filter_posts',id=2) }}" id="navbarDropdownMenuLink">
            ART
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.filter_posts',id=3) }}" id="navbarDropdownMenuLink">
            ARCHITECTURE
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.filter_posts',id=4) }}">LIFESTYLE</a>
        </li>
        {% if current_user.is_authenticated  %}
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle btn btn-outline-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {{current_user.username}} </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-dark"
                  href="{{ url_for('main.profile', username=current_user.username)}}">My account</a></li>
                  <li><a class="dropdown-item text-dark" href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="btn color-primary" href="{{ url_for('auth.login')}}">Login</a>
            </li>
          {% endif %}
      </ul>
    </div>
  </nav>
</section>

    